.submit-btn{
    margin-top: 20px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}